.banner {
    color: #fff;
    font-size: 23px;
    width: 100%;
    height: 30rem;
    background-image: url("../assets/rocketImg3.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}


.banner-left{
    position: absolute;
    top: 20%;
    left: 10%;
}
